body {
    background-color: rgb(240, 198, 221);
}

* img {
    width: 15%;
}

img {
    border: 5px solid rgb(255, 255, 255);
    border-radius: 25px 40px;
}

a {
    background-color: rgb(218, 123, 167);
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    padding: 8px 15px;
    border-radius: 20px;
    margin-bottom: 30px;
    display: block;
    width: max-content;
    text-align: center;
}

a:hover {
    font-size: 25px;
    background-color: rgb(163, 85, 199);
    text-align: center;
    /* position: fixed; */
}