body{
    background-color: rgb(240, 198, 221);
}
* img{
    width: 15%;
}
img { border:5px solid rgb(255, 255, 255);
    border-radius: 25px 40px; }

a {background-color:rgb(214, 122, 179);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    padding: 8px 15px;
    border-radius: 20px;
    margin-bottom:30px ;
    display: block;
    width: max-content;
}
a:hover{font-size: 20px;
    background-color: rgb(191, 105, 231);

}

