.menu{
    background-color: #404040;
    margin-top: 0px;
    padding: 20px;
    cursor: pointer;
    list-style: none;
    height: 35px;
    margin-left: -10px;
    margin-top: -10px;
    margin-right: -10px;
   
    
}
#organizar_menu{
    list-style: none;
    margin-left: 85%;
    display: flex;
    font-size: 23px;
    gap: 10%;
    text-decoration: none;
    border: none;
    margin-top: -35px;
    margin-left: 580px;
   
}
.botao{
    text-decoration: none;
    color: rgb(255, 255, 255);
    height: 10px;
    gap: 10%;
   padding-left: 50px;
   margin-top: -10px;
  
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
.botao:hover{
    color: grey;
}
h1{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #737373;
}
.port{
    color: aliceblue;
    margin-right: 1800px;
}