.um{
    width: 20%;
    min-width: 200px;
    border: 8px #ffffff solid;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-wrap:wrap ;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
    font-size: 17px;
    margin: 50px;
}

.dois{
    width: 100%;
    min-width: 200px;
    display: flex;
    flex-wrap:wrap ;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}
#img{
    height: 300px;
    width: 300px;
    border: #ffffff 1px solid;
}