.um{
    width: 20%;
    min-width: 200px;
    border: 8px #303030 solid;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-wrap:wrap ;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #000000;
    font-size: 17px;
    margin: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dois{
    width: 100%;
    min-width: 200px;
    display: flex;
    flex-wrap:wrap ;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}
#img{
    height: 300px;
    width: 300px;
    border:0;
    margin-top: 18px;
}
.para{

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 20px; 
    color: #000000;
    border-radius: 8px;
    font-size: 20px; 
    text-decoration: none;
    margin: 20px;
    margin-bottom: 70px;
    margin-top: 10px;
}
.paro{

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 20px; 
    color: #000000;
    border-radius: 8px;
    font-size: 20px; 
    text-decoration: none;
    margin: 20px;
    margin-bottom: 20px;
    margin-top: 30px;

}
.pari{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 20px; 
    color: #000000;
    font-size: 20px; 
    width: 35%;
    border-radius: 8px;
    min-width: 200px;
    border-radius: 15px;
    display: flex;
    flex-wrap:wrap ;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
h2{
    padding: 5px;
}
.h1{
    color: #000000;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}