.um{
    width: 20%;
    min-width: 200px;
    border: 8px #ffffff solid;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-wrap:wrap ;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
    font-size: 17px;
    margin: 50px;
}

.dois{
    width: 100%;
    min-width: 200px;
    display: flex;
    flex-wrap:wrap ;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}
#lala{
    min-width: 80px;
    width: 100%;
    height: 100%;
    align-items: center;
}
#lala{
    height: 100%;
    width: 100%;
}

.roteiro {
    width: 100%;    
    text-align: center;
}


.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #606060;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 300px;
}
h1 {
    text-align: center;
    color: #333;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px ;
    padding-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
.h3{
    color: #ccc;
    font-size: 25px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 180px;

}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}


h1 {
    text-align: center;
    color: #333;
    margin-top: 30px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}


th {
    background-color: #4CAF50;
    color: white;
    padding: 50px;
    text-align: left;
}


td {
    background-color: #f9f9f9;
    padding: 30px;
    text-align: left;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
}


table, th, td {
    border: 1px solid #ddd;
}
