body{
    background-color: rgb(39, 36, 36);
}

.menu{
    background-color: rgb(131, 64, 194);
    margin-top: 0px;
    padding: 20px;
    cursor: pointer;
    list-style: none;
    height: 35px;
}
#organizar_menu{
    list-style: none;
    margin-left: 85%;
    display: flex;
    font-size: 23px;
    gap: 10%;
    text-decoration: none;
    border: none;
    margin-top: -35px;
}
.botao{
    text-decoration: none;
    color: aliceblue;
    height: 10px;
    gap: 10%;

}
h1{
    color: #ffffff;
    margin-top:8px;
}
a:hover{
    color: grey;
}