body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #037070;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  z-index: 1000;
  position: fixed;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1.5rem; 
}

.nav-list li {
  display: inline-block;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
}

.nav-list li a:hover {
  color: #8ab8be; 
}


@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
  }

  .nav-list {
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}
