body {
    background-color: rgb(240, 198, 221);
    
}

* img {
    width: 15%;
}

img {
    border: 5% solid rgb(255, 255, 255);
    border-radius: 25px 40px;
}

a {
    background-color: rgb(218, 123, 167);
    font-size: 150%;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    padding: 6px 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    display: block;
    width: max-content;
    text-align: center;
}

a:hover {
    font-size: 150%;
    background-color: rgb(163, 85, 199);
    /* text-align: center; */
    /* position: fixed; */
}