@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.container {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  text-align: center;
  background: #f5f5f5;
  min-height: 100vh;
  padding-top: 130px;
  padding-left: 20px;
  padding-right: 20px;
}

.titulo {
  background-color: #77b395;
  color: white;
  padding: 5px 5px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.title {
  font-size: 2.5rem;
  margin: 0;
}

.main {
  background-color: #7e9b8c;
  padding: 30px 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  color: #000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.text {
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 0;
}

.footer {
  background-color: #62967c;
  color: white;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  margin-top: 1%;

}

.footerText {
  font-size: 0.9rem;
  margin: 0;
}

/* Media Queries */
@media (max-width: 980px) {
  .title {
    font-size: 2.2rem;
  }
  .text {
    font-size: 1.1rem;
  }
}

@media (max-width: 800px) {
  .title {
    font-size: 2rem;
  }
  .text {
    font-size: 1rem;
  }
}

@media (max-width: 720px) {
  .title {
    font-size: 1.8rem;
  }
  .text {
    font-size: 0.95rem;
  }
}

@media (max-width: 630px) {
  .title {
    font-size: 1.6rem;
  }
  .text {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding-top: 120px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .titulo, .main, .footer {
    padding: 20px 10px;
  }
  .title {
    font-size: 1.5rem;
  }
  .text {
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 1.3rem;
  }
  .text {
    font-size: 0.8rem;
  }
}
